<ng-template [ngIf]="loading" [ngIfElse]="data">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
<ng-template #data>
    <ng-container *ngIf="userData !== null">
        <mat-card fxLayout="column" fxLayoutGap="20px">
            <ngx-datatable class="material" [rows]="repoList" [columns]="columns" [columnMode]="'force'"
                [headerHeight]="70" [footerHeight]="50" rowHeight="auto" [limit]="10" >
                <ngx-datatable-column name="UPC" prop="upc" [sortable]="true">
                    <ng-template ngx-datatable-header-template>
                        <div>
                            <div class="headName">UPC</div>
                            <div>
                                <input type="text" placeholder="" name="upc" (input)="applyFiters($event.target.value, '1')"/>
                            </div>
                        </div>
                     </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Product Short Name" prop="productShortName">
                    <ng-template  ngx-datatable-header-template>
                        <div>
                            <div class="headName">Product Short Name</div>
                            <div>
                                <input type="text" placeholder="" name="productShortName" (input)="applyFiters($event.target.value, '2')"/>
                            </div>
                        </div>
                     </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="No of Facings" prop="facing">
                    <ng-template  ngx-datatable-header-template>
                        <div>
                            <div class="headName">No of Facings</div>
                            <div>
                                <input type="text" placeholder="" name="facing" (input)="applyFiters($event.target.value, '3')"/>
                            </div>
                        </div>
                     </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Brand" prop="brandName">
                    <ng-template  ngx-datatable-header-template>
                        <div >
                            <div class="headName">Brand</div>
                            <div>
                                <input type="text" placeholder="" name="brandName" (input)="applyFiters($event.target.value, '4')"/>
                            </div>
                        </div>
                     </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Shelf Level" prop="shelfLevel">
                    <ng-template  ngx-datatable-header-template>
                        <div>
                            <div class="headName">Shelf Level</div>
                            <div>
                                <input type="text" placeholder="" name="shelfLevel" (input)="applyFiters($event.target.value, '5')"/>
                            </div>
                        </div>
                     </ng-template>
                </ngx-datatable-column>
                
            </ngx-datatable>
        </mat-card>
    </ng-container>
</ng-template>