table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  .banners{
    padding: 7px;
    border-radius: 10px;
    color: #FFF;
  }

::ng-deep.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell{
      background-color: rgb(66, 135, 245) !important;
  }

  ::ng-deep .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell{
    border-left: 1px solid lightgray !important;
    border-bottom: 1px solid lightgray !important;
  }

  ::ng-deep .ngx-datatable .datatable-header .datatable-header-cell.sortable .datatable-header-cell-wrapper{
    font-size: 16px !important;
    color: #FFF !important;
  }

  .banner{
    background: red;
    height: 32px;
    width: 100%;
    margin: -15px 10px 10px 10px;
    padding: 1px 20px 11px 10px;
  }

  ::ng-deep .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell{
    font-size: 16px !important;
  }