.header{
    background-color: black;
    color: #FFF;
    position: fixed;
    width: 100%;
}
input {
padding: 8px;
    border-radius: 10px;
    border: none;
}
.search{
    margin-right: 75px;
}

.searchIcon{
    margin: 10px 0px 6px -26px;
    color: black;
}